@import 'lib/_lesshat';

@b: #333;
@w: #fff;
@blue: #00ADE0;
@yellow: #FCB829;
@red : #ED1C2F;
@darkblue: #0053A1;
@green: #98C93A;

@yellow-shadow : #FAA019;
@red-shadow: #B90038;

.fontR{ font-family: 'Roboto', sans-serif; }
.fontC{ font-family: 'Roboto Condensed', sans-serif; }
.fontS{ font-family: 'Roboto Slab', serif; }

body{
  .fontR;
}


h1, h2, h3, h4{
  .fontC;
  color:@darkblue;
}


.banner{display: block; margin-bottom: 10px;}

#mainMenu, #mainMenuResponsive{
  background: @blue;
  padding: 0;
  
  ul{
    background: transparent;
    li{
      a{
        color:@w;
        .fontC;
        line-height: 1.8;
        &.is-active{
         border-bottom: 1px solid @darkblue;
        }
      }
    }
  }
  
}
#mainMenuResponsive{
  width: 100%;
  .title-bar-title{
    text-align: center;
  }
}

a.logo{
  padding: 0 0 0 10px;
  
}
.logo-img{
    margin: 0 auto;
    max-width: 240px;
}


.sticky-container{z-index: 20;}

#loginform{
  @media only screen and (min-width: 64.063em) { 
  position: fixed;
  right: 0;
  top: 55px;
  text-align: right;
  }
  
  .border-radius(8px 0 0 8px);
  background: @blue;
  padding: 10px;
  margin: 0;
  z-index: 19;
  input, input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    font-size: 0.8em;
    padding: 6px;
    height: auto;
    max-width: 100px;
    margin: 0;
    background:@w;
    color:@darkblue !important;
    -webkit-text-fill-color: @darkblue !important;
    .fontR;
    border-color:@darkblue;
    &:focus{
      background:@blue;
    }
  }
  .help-text{
    color:@w;
    .fontC;
    font-size: 0.8em;
  }
  .button.hollow{
    border-color: @w;
    color:@w;
    &:hover{
      background: @w;
      color:@darkblue;
    }
  }
}

#banners{padding-bottom: 80px;}

.clublumen{
  padding: 80px 0;
}

.mainContainer{
  padding: 40px 0;

  h2{
    font-size: 2rem;
    background-color: @yellow;
    //background-image: url(img/dotters.png);
    //background-repeat: no-repeat;
    //background-position: right bottom;
    text-align: center;
    padding: 20px 0;
    color:@w;
    text-shadow: 2px 2px 0 @yellow-shadow;
    position: relative;
    &.red{background-color: @red; text-shadow: 2px 2px 0 @red-shadow;}
    margin-bottom: 80px;
    margin-top: 80px;
    .icon{
      position: absolute;
      left: 20px;
      top: -60px;
      img{
        
      }
    }
  }
}

.orbit-next, .orbit-previous{
  background: @blue;
  &:hover, &:focus, &:active{
    background: @darkblue;
    cursor:pointer;
  }
}



.pattern{
  &.p1{ background-image:url(img/pattern1.png); }
  &.p2{ background-image:url(img/pattern2.png); }
  &.p3{ background-image:url(img/pattern3.png); }
  &.p4{ background-image:url(img/pattern4.png); }
  background-position: top;
  background-repeat: repeat-x;
}


.suscribe{
  background:@green;
  .background-image(linear-gradient(right, @green/1.2, @green));
  padding: 10px 0;
  h4{
    font-size: 1.1em;
  }
  
}

.social-icons{
  i{
    font-size: 40px;
    color:@w;
    margin-right: 20px;
  }
  
}

.infobottom{
    font-size: 0.9em;
    p{ color:@w; }
  }